/** ANIMATION **/
.step {
    opacity: 0.1;
    width: 55em;
    height: 5em;
}
.step.active {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    opacity: 1;
}
