<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
<style>
/** ANIMATION **/
.step {
    opacity: 0.1;
    width: 20em;
    height: 3em;
}
.step.active {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    opacity: 1;
}
</style>  
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jmpress/0.4.5/jmpress.min.js"></script>
  </head>
  <body ng-app="app">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
<div ng-app="app" ng-controller="randomData" ui-impress>
    <div ng-repeat="item in newdata track by $index" 
    class="step" data-duration="2000" data-x="{{ item.coordinates.x }}" data-y="{{ item.coordinates.y + $index*100}}" data-z="{{ item.coordinates.z }}" 
    data-rotate-x="{{ item.rotate.x }}" data-rotate-y="{{ item.rotate.y }}" data-rotate-z="{{ item.rotate.z }}" data-scale="{{ item.scale }}">TEST {{$index}} {{ item.prop.key }} <p> {{ item.prop.value }}</p>
    </div>
    <!--<div ng-repeat="item in ['ONE','TWO','THREE'] track by $index" -->
    <!--class="step" data-duration="2000" data-x="{{ item.coordinates.x }}" data-y="{{ item.coordinates.y + $index*100}}" data-z="{{ item.coordinates.z }}" -->
    <!--data-rotate-x="{{ item.rotate.x }}" data-rotate-y="{{ item.rotate.y }}" data-rotate-z="{{ item.rotate.z }}" data-scale="{{ item.scale }}">TEST {{$index}} {{ item }}-->
    <!--</div>-->
    <!--<div ng-repeat="item in [1,1,1] track by $index">{{ item }}</div>-->
</div>
<script>
var app = angular.module("app", []);

app.directive('uiImpress', function () {
    return {
        restrict: 'A',
        scope: false,
        link: function ($scope, $element) {
            var init = $scope.$watch('newdata', function (data) {
                if (data) {
                    $scope.$evalAsync(function () {
                        console.log(' $scope.data[0] check ======> [' 
                        // + $scope.data[0].author + "\n"
                        + $scope.newdata[0] + "\n"
                        + $scope.newdata[1] + "\n"
                        + "]");
                        $($element).jmpress();
                        console.log('jimpress initialized!');
                        //init();
                    });
                };
            });
        }
    };
});

// var data;
// function cb(res) {
//   alert('100: ContentService responded author [' + res.data[0].author + ']');
//   console.log(res);
//   data = res.data[0];
// }


function randomData($scope, $http, $window, $timeout) {
//    $scope.data;

    var slides = 10;

    var config = {
        coordinates: [-1000, 1000],
        rotate: [-180, 180],
        scale: [0.1, 10]
    };

    // var randomDataSource = "http://api.icndb.com/jokes/random/" + slides;
    // var randomDataSource = "https://script.googleusercontent.com/macros/echo?user_content_key=g3jJn8mc4EDli4_78fFE6X-E539HccVRIMamTaTzhJ4GzJjSU_Mmpn9LKXuVKsTIrP-CzO7Ofh5qRyfh9ZkZAQDMbrdAE9W_m5_BxDlH2jW0nuo2oDemN9CCS2h10ox_1xSncGQajx_ryfhECjZEnO2VxMsvENCyASFMhBamCj5M4dAlGsP-vEkcs0Q0IKyTnLuhxfwBpu5zpL-1vuSTjA&lib=MDXkAoIMXv4rbCs-aIjOT_nTpSR1OlyVI";
    var randomDataSource = "https://script.google.com/macros/s/AKfycbyfELimRE5WFtYHUocEpnArHipg6WazmGR09fFULayA/dev?t=jsonp&callback=JSON_CALLBACK";
    
    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    function generateData(messages) {
        return _.range(slides).map(function (value, index) {
            return {
                message: messages[index],
                coordinates: {
                    x: getRandomInt.apply(null, config.coordinates),
                    y: getRandomInt.apply(null, config.coordinates),
                    z: getRandomInt.apply(null, config.coordinates)
                },
                rotate: {
                    x: getRandomInt.apply(null, config.rotate),
                    y: getRandomInt.apply(null, config.rotate),
                    z: getRandomInt.apply(null, config.rotate)
                },
                scale: getRandomInt.apply(null, config.scale)
            };
        });
    }

    $http.jsonp(randomDataSource)
      .success(function (response) {
        //var myObj = angular.fromJson(response.data);
        console.log(' response.data[0].author ======> [' 
        + response.data[0].author +"\n "
        + response.data[0].t1 +"\n "
        + response.data[0].t2
        + "]");
        $scope.newdata = [];
        var obj = response.data[0]; //JSON.parse(response.data[0]) ;
        var count = 0;
        var previousObj = {};
        for(var prop in obj) {
            if(obj.hasOwnProperty(prop)) {
                console.info('key = [' + prop + ']'); // key name
                console.info('val = [' + obj[prop] + ']'); // value
                if (prop.charAt(0) !== 't' && prop.charAt(0) !== 'b') {
                  $scope.newdata.push({prop: {key: prop, value: obj[prop]}});
                } else if (prop.charAt(0) === 't') {
                  previousObj = {prop: {key: obj[prop], value: undefined}}; //TODO the value needs to be the second json object!!!
                }
                else if (prop.charAt(0) === 'b') {
                  if(previousObj.prop) previousObj.prop.value = obj[prop];
                  $scope.newdata.push(previousObj); //TODO the value needs to be the second json object!!!
                  // previousObj = {}
                }
            }
        }

        // var messages = response.data.value.map(function (item) {
        //     return item.joke;
        // })
        // //$scope.data = generateData(messages);
      })
      .error(function (data) {
        $scope.newdata = "Request failed";
      });

    //this is just a workaround for GAS with no callback to AngularJS success() method!
    // $scope.$watch(
    //     function () {
    //       return $window.data; 
    //     }, function(n, o){
    //       $timeout(function(){
    //         $scope.$apply(function(){
    //           $scope.data = $window.data;
    //         });
    //         console.log("window.data changed ", n);
    //       });
    //     }
    // );

};
</script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <!--<script src="bower_components/angular/angular.js"></script>-->
    <!--<script src="bower_components/json3/lib/json3.js"></script>-->
    <!--<script src="bower_components/angular-resource/angular-resource.js"></script>-->
    <!--<script src="bower_components/angular-cookies/angular-cookies.js"></script>-->
    <!--<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>-->
    <!--<script src="bower_components/angular-animate/angular-animate.js"></script>-->
    <!--<script src="bower_components/angular-touch/angular-touch.js"></script>-->
    <!--<script src="bower_components/angular-route/angular-route.js"></script>-->
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <!--<script src="scripts/app.js"></script>-->
        <!--<script src="scripts/controllers/main.js"></script>-->
        <!--<script src="scripts/controllers/about.js"></script>-->
        <!-- endbuild -->
</body>
</html>